accelerate
imageio
ipykernel
ipython
opencv-python-headless
Pillow
Pygments
pyparsing
pyreadline3
python-dateutil
pytz
regex
safetensors
scikit-image
scikit-learn
scipy
sentencepiece
timm
torchviz